{{/* vim: set filetype=mustache: */}}
{{/*
Kubernetes standard labels: https://helm.sh/docs/chart_best_practices/labels/
*/}}

{{- define "defaultLabels" }}
app.kubernetes.io/name: "{{- default .Chart.Name .Values.nameOverride | trunc 63 | trimSuffix "-" -}}"
app.kubernetes.io/managed-by: "{{ .Release.Service }}"
app.kubernetes.io/instance: "{{ .Release.Name }}"
app.kubernetes.io/version: "{{ .Chart.AppVersion }}"
helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
{{- end }}
